.offscreen {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    padding: 0;
    border: 0;
    clip: rect(0, 0, 0, 0);
    clip-path: inset(50%);
    white-space: nowrap;
}

.skip-link {
    position: absolute;
    top: -999px;
    left: 0;
    background: #000;
    padding: 14px;
    z-index: 1000;
    color: #fff;
    text-decoration: none;
}

.skip-link:focus,
.skip-link:active {
    top: auto;
    left: auto;
}