.offline-notifier {
    top: 0;
    left: 0;
    width: 100%;
    background-color: rgb(140, 126, 16);
    color: black;
    text-align: center;
    padding: 10px;
    z-index: 1000;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  }