.search-form {
  margin: 0.5rem;
  display: flex;
  justify-content: space-between;
  border: 2px solid lightgray;
  border-radius: 500px;
  background-color: rgba(240, 255, 240, 0.048); 
}

.search-form:focus-within,
.search-form:hover {
  box-shadow: 4px 2px 5px #000;
}

#search {
  flex-grow: 1;
  border: none;
  margin-right: 1rem;
  background-color: transparent;
  width: calc(100% - 70px);
  font-size: 1.25rem;
  padding: 0.75rem 0 0.75rem 0.75rem;
  outline: none;
}

#search::placeholder {
  color: rgba(48, 39, 39, 0.699);
}

/* Dark theme - placeholder color */
html.dark #search::placeholder {
  color: rgba(241, 241, 241, 0.699);
}

.search-button {
  min-width: 48px;
  min-height: 48px;
  border-radius: 80px;
  outline: none;
  font-size: 1.25rem;
  font-weight: 900;
  background-color: transparent;
  display: flex;
  justify-content: center;
  align-items: center;
}

/* Search button responsive on larger screens */
@media (min-width: 768px) {
  .search-button {
    font-size: 1.5rem;
    min-width: 64px;
    min-height: 64px;
  }
}

.button:hover,
.button:focus {
  border: none;
  box-shadow: none;
  filter: drop-shadow(1px 0px 1.25px #fff);
}

.button:active {
  transform: scale(1.70);
  color: rgb(192, 11, 247);
}

.icon:focus {
  border: 1px solid;
  box-shadow: none;
  filter: drop-shadow(1px 0px 1.25px #fff);
}

.display-alert {
  font-weight: normal;
  font-style: italic;
  filter: invert(1);
  letter-spacing: normal;
}