.tile-display {
  position: fixed;
  place-items: center;
  text-align: center;
  width: 370px;
  height: 70%;
  bottom: 0;
  z-index: 1000;
  box-shadow: 0px -4px 8px rgba(0, 0, 0, 0.2);
  background-color: rgba(255, 255, 255, 0.97); 
  opacity: 0;
  pointer-events: none;
  transform: translateY(100%);
  transition: transform 0.5s ease-in-out, opacity 0.5s ease-in-out;
}

/* Dark theme specific styles */
html.dark .tile-display {
  background-color: rgba(30, 88, 125, 0.99); 
}

.tile-display.visible {
  opacity: 1;
  pointer-events: auto;
  transform: translateY(0);
}

.close-tile {
  position: sticky;
  top: 15px;
  right: 15px;
  float: right;
  background: none;
  border: none;
  cursor: pointer;
}

.tile-display > img {
  width: 150px;
  margin: 0 auto 1.25rem auto;
}