@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  color-scheme: light dark;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  width: 100%;
  margin: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding: 0.5rem;
  min-width: 320px;
  min-height: 100vh;
  font-family: 'Archivo', serif;
  font-size: 16px;
  line-height: 1.5;
  font-weight: bold;
  letter-spacing: 1px;
  background-image: url('/images/clouds.png');
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
  transition: background-color 0.5s ease, color 0.3s ease;
  color: #01080e;
  background-color: rgba(231, 222, 222, 0.253);
  background-blend-mode: soft-light;
}
#root {
  height: 100%;
  display: flex;
  flex-direction: column;
}

.app-container {
  min-width: 320px;
  width: 100%;
  max-width: 700px;
  max-height: 1050px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: inherit;
  background-color: rgba(0, 0, 0, 0.1);
  border: 1px solid #ccc;
  border-radius: 10px;
  box-shadow: 1px 1px 2.5px #000;
  transition: background-color 0.5s ease, color 0.3s ease;
}

img {
  display: block;
}

.credits {
  font-size: 0.7rem;
  text-align: center;
}

/* Dark theme */
html.dark body {
  color: #e0f7f5;
  background-color: rgb(64, 217, 228);
  background-blend-mode: multiply;
}

html.dark .app-container {
  border: 1px solid lightgray;
  color: #e0f7f5;
  box-shadow: 1px 1px 2.5px #fff;
}